# Pandas

In [2]:
import pandas as pd

In [3]:
draft1=pd.read_csv(r'C:\Users\pnaik27\Machine Learning iNeuron\code_pandas1\examples\ex1.csv')
draft1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [4]:
type(draft1)

pandas.core.frame.DataFrame

Head

In [5]:
draft1.head(2)

   a  b  c  d message
0  1  2  3  4   hello
1  5  6  7  8   world

Tail

In [7]:
#draft1.tail(1)
draft1.tail()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

To read a tab seperated file-test.tsv

In [10]:
draft2=pd.read_table(r'C:\Users\pnaik27\Machine Learning iNeuron\code_pandas1\examples\test.tsv')
draft2

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

Dont want the first line of file as header

In [13]:
pd.read_csv(r'C:\Users\pnaik27\Machine Learning iNeuron\code_pandas1\examples\ex1.csv',header=None)

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [16]:
df=pd.read_csv(r'C:\Users\pnaik27\Machine Learning iNeuron\code_pandas1\examples\ex2.csv',names=['abc','xyz','Pqr','cde','parag','naik'])
df

   abc  xyz  Pqr  cde  parag  naik
0    1    2    3    4  hello   NaN
1    5    6    7    8  world   NaN
2    9   10   11   12    foo   NaN

Multi-Level indexing

In [17]:
parsed=pd.read_csv(r'C:\Users\pnaik27\Machine Learning iNeuron\code_pandas1\examples\csv_mindex.csv')
parsed

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [19]:
parsed=pd.read_csv(r'C:\Users\pnaik27\Machine Learning iNeuron\code_pandas1\examples\csv_mindex.csv',index_col=['key1'])
parsed

     key2  value1  value2
key1
one     a       1       2
one     b       3       4
one     c       5       6
one     d       7       8
two     a       9      10
two     b      11      12
two     c      13      14
two     d      15      16

In [20]:
parsed=pd.read_csv(r'C:\Users\pnaik27\Machine Learning iNeuron\code_pandas1\examples\csv_mindex.csv',index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [21]:
df=pd.read_csv(r'C:\Users\pnaik27\Machine Learning iNeuron\code_pandas1\examples\ex4.csv')
df

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [25]:
#here 0 starts from #hey then count 2 and 3
df=pd.read_csv(r'C:\Users\pnaik27\Machine Learning iNeuron\code_pandas1\examples\ex4.csv',skiprows=[0,2,3])
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [31]:
result=pd.read_csv(r'C:\Users\pnaik27\Machine Learning iNeuron\code_pandas1\examples\ex5.csv')
result
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [ ]:
draft3=pd.