# Conditions

In [4]:
i=2
if i<5:
    print('This condition is true')

This condition is true

In [3]:
i=10
if i<5:
    pass

In [5]:
i=10
if i<5:
    print('this is a valid statement')
elif i==10:
    print('This is a valid statement in elif')

This is a valid statement in elif

In [6]:
i=10
if i<5: #(i<5)
    print('this is a valid statement')
elif i<8:
    print('This is a valid statement in elif')
else:
    print('this will give me a default statement')

this will give me a default statement

In [10]:
i=10
if (i > 5) & (i==10): #(i<5)
    print('this is a valid statement')
elif i<8:
    print('This is a valid statement in elif')
else:
    print('this will give me a default statement')

this is a valid statement

In [13]:
i=11
s='sudh'
if i==10:
    if type(s)==str:
        print('this is my name')
    else:
        print('this is a default condition')
else:
    print('this is a default statement for outer if block')

this is a default statement for outer if block

In [14]:
l=[3,4,4,5,6,'parag','naik','xyz']
l

[3, 4, 4, 5, 6, 'parag', 'naik', 'xyz']

In [15]:
for i in l:
    if type(i)==str:
        print('yes')
    else:
        print('No')

No
No
No
No
No
yes
yes
yes

In [18]:
l[::2]

[3, 4, 6, 'naik']

In [21]:
for i in l:
    print(i)

3
4
4
5
6
parag
naik
xyz

In [28]:
m=[]
for i in l:
    if type(i)==int:
        m.append(i)

In [29]:
m

[3, 4, 4, 5, 6]

In [34]:
m=[]
n=[]
for i in l:
    if type(i)==int:
        m.append(i)
    else:
        n.append(i)
print(m)
print(n)

[3, 4, 4, 5, 6]
['parag', 'naik', 'xyz']

Summation of all integer element in the list

In [36]:
j=0
for i in l:
    if type(i)==int:
        j+=i
print(j)

22

In [37]:
for i in 'parag':
    print(i)

p
a
r
a
g

For-else block
Advantage-if for loop is completed then only else block will if for loop is not completed the else block wont work

In [40]:
l=[4,5,6,6]
for i in l:
    print(i)
else:
    print('this is the for else block')

4
5
6
6
this is the for else block

Below the for loop doesnot complete so the else block wont work

In [41]:
l=[4,5,6,6]
for i in l:
    if i==6:
        break
    print(i)
else:
    print('this is the for else block')

4
5

In [42]:
l=[4,5,6,6]
for i in l:
    if i==9:
        break
    print(i)
else:
    print('this is the for else block')

4
5
6
6
this is the for else block

Continue

In [43]:
s='Sudh kumar'
for i in s:
    if i=='k':
        continue
    print(i)

S
u
d
h

u
m
a
r

Range function

In [46]:
range(6)  #(starting:ending),upper bound is always excluded

range(0, 6)

In [47]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [48]:
list(range(4,9))#upper bound is always excluded

[4, 5, 6, 7, 8]

In [50]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [51]:
l=[5,6,7,4,5,6,'parag','naik']

In [52]:
l

[5, 6, 7, 4, 5, 6, 'parag', 'naik']

In [53]:
len(l)

8

In [55]:
for i in range(len(l)):
    print(l[i])

5
6
7
4
5
6
parag
naik

How to take input from keyboard using input function

In [2]:
input()#entering interger and return a string..(Shift+tab)

123456

'123456'

Type casting as data retrun by input is always string

In [5]:
a=int(input('tke my name and age'))
type(a)

tke my name and age1234567

int

In [6]:
'parag'+'naik' #+operator behaves like concatenation operation

'paragnaik'

In [7]:
'parag'+9 #concatation is done only on same data types

TypeError: can only concatenate str (not "int") to str

In [8]:
'parag'+str(9)

'parag9'

In [9]:
l=[4,5,6,6]
l1=[4,5,6,4,3]

In [12]:
l+'parag'

TypeError: can only concatenate list (not "str") to list

In [13]:
l+['parag']

[4, 5, 6, 6, 'parag']

In [14]:
l+l1

[4, 5, 6, 6, 4, 5, 6, 4, 3]

In [15]:
"sudhanshu's"

"sudhanshu's"

In [16]:
"sudhanshu"s"

SyntaxError: invalid syntax (<ipython-input-16-4b67bfec94f7>, line 1)

In [18]:
#this is a code to exxplain your str operation
"parag's"

"parag's"

In [19]:
#multi line commit
"""parag
parag
parag
parag"""

'parag\nparag\nparag\nparag'

In [21]:
s='hello world'

In [25]:
s=s.upper()

In [27]:
s.lower()

'hello world'

In [28]:
s='hello world parag naik'

In [34]:
s.split('o')

['hell', ' w', 'rld parag naik']

In [35]:
s.split()

['hello', 'world', 'parag', 'naik']

Format function

In [37]:
"my name is {}, my age is {}".format('parag',26)

'my name is parag, my age is 26'

Finding a letter in string

In [38]:
s='hello world'

In [39]:
s.find('l') #use tab for find func

2

In [41]:
#My code
s='Hello World'
l1=[]
for i in s:
    if i=='l':
        l1.append(i)

In [42]:
l1

['l', 'l', 'l']

In [44]:
s='hellow world' 
l=[]
l1=[]
for i in range(len(s)):
    if s[i]=='l':
        l.append(i)
        l1.append(s[i])
print(l,l1,sep='\n')

[2, 3, 10]
['l', 'l', 'l']

In [45]:
s='sudh'
s

'sudh'

In [47]:
s.center(40,'p')

'ppppppppppppppppppsudhpppppppppppppppppp'

In [50]:
'hello\tworld'.expandtabs()

'hello   world'

In [68]:
p='Hello'
p1=' '

In [58]:
p.isalnum()

True

In [59]:
p.isalpha()

True

In [60]:
p.islower()

False

In [61]:
p.isupper()

False

In [69]:
p1.isspace()

True

In [70]:
y='Helloworld'

In [71]:
y.istitle()

True

In [73]:
'parag'*3

'paragparagparag'

In [74]:
[5,6,7]*3

[5, 6, 7, 5, 6, 7, 5, 6, 7]

In [75]:
l=[1,2,3,4,5,5,66,'parag']

In [76]:
l.append('Naik')

In [77]:
l

[1, 2, 3, 4, 5, 5, 66, 'parag', 'Naik']

In [78]:
l.insert(2,'xyz')

In [79]:
l

[1, 2, 'xyz', 3, 4, 5, 5, 66, 'parag', 'Naik']

In [81]:
l

[1, 2, 'xyz', 3, 4, 5, 5, 66, 'parag', 'Naik']

In [82]:
l.pop()

'Naik'

In [83]:
l.pop()

'parag'

In [84]:
l

[1, 2, 'xyz', 3, 4, 5, 5, 66]

In [85]:
l.pop(2)

'xyz'

In [86]:
l

[1, 2, 3, 4, 5, 5, 66]

In [90]:
l[::-1]

[66, 5, 5, 4, 3, 2, 1]

In [92]:
#l.reverse()
l.reverse()

In [93]:
l

[66, 5, 5, 4, 3, 2, 1]

In [94]:
l

[66, 5, 5, 4, 3, 2, 1]

In [97]:
l.sort()
l.append('xyz')

In [98]:
l

[1, 2, 3, 4, 5, 5, 66, 'xyz']

In [100]:
l=[4,3,5,56,8,5,1]
l.sort()

In [101]:
l

[1, 3, 4, 5, 5, 8, 56]

In [105]:
s1=['parag','naik','xyz','abc']

In [106]:
s1.sort()
s1

['abc', 'naik', 'parag', 'xyz']

In [108]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=[6,7,8,8]

In [111]:
l=[l1,l2,l3]
l

[[1, 2, 3, 4], [5, 6, 7, 8], [6, 7, 8, 8]]

In [115]:
l[1][2]
l[0][2]
l[2][2]

8

In [117]:
n=[]
for i in l:
    n.append(i[2])
n

[3, 7, 8]

List Comprehension

In [118]:
[i[2] for i in l]

[3, 7, 8]

In [120]:
n=[]
[n.append(i) for i in l]
n

[[1, 2, 3, 4], [5, 6, 7, 8], [6, 7, 8, 8]]

In [125]:
l=[4,5,6,7,9]
l.append([1,1,1])
l

[4, 5, 6, 7, 9, [1, 1, 1]]

Extend operation

In [124]:
l1=[4,5,6,7]
l1.extend([5,6,7])
l1

[4, 5, 6, 7, 5, 6, 7]

extend will never take primitive data type difference between append and extend is it will merge it with exiting list as compare to list cell-125

In [126]:
l=[1,2,3,4,5]
l.remove(4)
l

[1, 2, 3, 5]

In [143]:
l=[1,2,3,4,3,2,1,1,22,2,1]
for i in l:
    if i==2:
        l.remove(2)
    else:
        continue

In [144]:
l

[1, 3, 4, 3, 1, 1, 22, 1]

In [147]:
l=[5,6,7,2,8,5,2,2,2,2,6,6,5,6,7,8,2]
l=[i for i in l if i!=2]
l

[5, 6, 7, 8, 5, 6, 6, 5, 6, 7, 8]