# Pandas

In [1]:
import pandas as pd

Can display desired number of rows using 'nrows=5' but in head operation it will load entire data in memeory and then fetch data but nrows it will only load 5 data ,so it is memory efficient(big datas in GB we use 'nrows')

In [3]:
result=pd.read_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\ex6.csv',nrows=5)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

Chunksize-it will not give a dataframe but a text file(very rarely used,because it will not be able to read some data)

In [4]:
chunk=pd.read_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\out.csv',chunksize=1000)
chunk

To store data in Hard disk under custom name

In [9]:
data=pd.read_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In below cell the dataset is stored with index and header aong with it open parag_nsert.csv

In [11]:
data.to_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\parag_insert.csv')

In [13]:
import sys
data.to_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\parag_insert@.csv',sep='@')

In [14]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [15]:
#above NAN will be replaced by 'parag using na_rep='parag
data.to_csv(sys.stdout,na_rep='parag')

,something,a,b,c,d,message
0,one,1,2,3.0,4,parag
1,two,5,6,parag,8,world
2,three,9,10,11.0,12,foo

Without header and Index-

In [17]:
data.to_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\parag_insert_without_header_index.csv',index=False,header=False)

In [21]:
#customise header
data.to_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\parag_customises_header.csv',index=False, columns=['something','a','b','c'])

Creating new data range

In [27]:
#dates=pd.date_range('1/1/2000',periods=7)#(start date,period)-no end date ,it will generate next 7 dates data
dates=pd.date_range('1/1/2000',periods=70)
dates
#type(dates)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
               '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03', '2000-02-04', '2000-02-05',
               '2000-02-06', '2000-02-07', '2000-02-08', '2000-02-09',
               '2000-02-10', '2000-02-11', '2000-02-12', '2000-02-13',
               '2000-02-14', '2000-02-15', '2000-02-16', '2000-02-17',
               '2000-02-18', '2000-02-19', '2000-02-20', '2000-02-21',
               '2000-02-22', '2000-02-23', '2000-02-24', '2000-02-25',
               '2000-02-26', '2000-02-27', '2000-02-28', '2000-02-29',
               '2000-03-01', '2000-03-02', '2000-03-03', '2000-03-04',
               '2000-03-05', '2000-03-06', '2000-03-07', '2000-03-08',
               '2000-03-09', '2000-03-10'],
              dtype='datetime64[ns]', freq='D')

Converting data into series

In [34]:
import numpy as np
dates=pd.date_range('1/1/2000',periods=7)
ts=pd.Series(np.arange(7),index=dates)
#ts=pd.Series(np.arange(3),index=['pr','naik','nup'])
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int32

In [35]:
ts.to_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\ts.csv')

Same operation without andas library

In [37]:
import csv
f=open(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\ex7.csv')
reader=csv.reader(f)
reader

In [38]:
for i in reader:
    print(i)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [42]:
with open(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\ex7.csv') as f:
    lines=list(csv.reader(f))

In [43]:
for i in lines:
    print(i)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [44]:
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]