# Pandas

In [1]:
import pandas as pd

Can display desired number of rows using 'nrows=5' but in head operation it will load entire data in memeory and then fetch data but nrows it will only load 5 data ,so it is memory efficient(big datas in GB we use 'nrows')

In [3]:
result=pd.read_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\ex6.csv',nrows=5)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

Chunksize-it will not give a dataframe but a text file(very rarely used,because it will not be able to read some data)

In [4]:
chunk=pd.read_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\out.csv',chunksize=1000)
chunk

To store data in Hard disk under custom name

In [9]:
data=pd.read_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In below cell the dataset is stored with index and header aong with it open parag_nsert.csv

In [11]:
data.to_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\parag_insert.csv')

In [13]:
import sys
data.to_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\parag_insert@.csv',sep='@')

In [14]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [15]:
#above NAN will be replaced by 'parag using na_rep='parag
data.to_csv(sys.stdout,na_rep='parag')

,something,a,b,c,d,message
0,one,1,2,3.0,4,parag
1,two,5,6,parag,8,world
2,three,9,10,11.0,12,foo

Without header and Index-

In [17]:
data.to_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\parag_insert_without_header_index.csv',index=False,header=False)

In [21]:
#customise header
data.to_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\parag_customises_header.csv',index=False, columns=['something','a','b','c'])

Creating new data range

In [27]:
#dates=pd.date_range('1/1/2000',periods=7)#(start date,period)-no end date ,it will generate next 7 dates data
dates=pd.date_range('1/1/2000',periods=70)
dates
#type(dates)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
               '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03', '2000-02-04', '2000-02-05',
               '2000-02-06', '2000-02-07', '2000-02-08', '2000-02-09',
               '2000-02-10', '2000-02-11', '2000-02-12', '2000-02-13',
               '2000-02-14', '2000-02-15', '2000-02-16', '2000-02-17',
               '2000-02-18', '2000-02-19', '2000-02-20', '2000-02-21',
               '2000-02-22', '2000-02-23', '2000-02-24', '2000-02-25',
               '2000-02-26', '2000-02-27', '2000-02-28', '2000-02-29',
               '2000-03-01', '2000-03-02', '2000-03-03', '2000-03-04',
               '2000-03-05', '2000-03-06', '2000-03-07', '2000-03-08',
               '2000-03-09', '2000-03-10'],
              dtype='datetime64[ns]', freq='D')

Converting data into series

In [34]:
import numpy as np
dates=pd.date_range('1/1/2000',periods=7)
ts=pd.Series(np.arange(7),index=dates)
#ts=pd.Series(np.arange(3),index=['pr','naik','nup'])
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int32

In [35]:
ts.to_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\ts.csv')

Same operation without andas library

In [37]:
import csv
f=open(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\ex7.csv')
reader=csv.reader(f)
reader

In [38]:
for i in reader:
    print(i)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [10]:
import csv
with open(r'C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\ex7.csv') as f:
    lines=list(csv.reader(f))

In [11]:
for i in lines:
    print(i)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [12]:
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [13]:
a=1
b='parag'
c=23

In [14]:
a,b,c=1,'parag',23

In [15]:
header,values=lines[0],lines[1:]

In [17]:
header
values

[['1', '2', '3'], ['1', '2', '3']]

Zip-Grouping operation it will perform

In [ ]:
zip(a,b) #zip always take iterable object

In [18]:
list(zip(values))

[(['1', '2', '3'],), (['1', '2', '3'],)]

In [19]:
list(zip(*values))

[('1', '1'), ('2', '2'), ('3', '3')]

In [21]:
list(zip(header,zip(*values)))

[('a', ('1', '1')), ('b', ('2', '2')), ('c', ('3', '3'))]

In [22]:
data_dict={h:v for h,v in zip(header,zip(*values))}
data_dict #dictionary is created with key:value

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

Example-1

In [25]:
l1=[1,2,3,4]
l2=['a','b','c','d']
list(zip(l1,l2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [33]:
dict_l3={h:v for h,v in zip(l1,l2)}
dict_l3

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

JSON(javascript object notation) Data

In [46]:
obj="""
{"name":"Wes",
"placed_lived":["United states","Spain","Germany"],
"pet":null,
"sibling":[{"name":"Scott","age":30,"pets":["Zeus","Zuko"]},
           { "name":"Katie","age":38,
            "pets":["Sixes","Stache","Cisco"]}]
} 
"""
type(obj)
obj

'\n{"name":"Wes",\n"placed_lived":["United states","Spain","Germany"],\n"pet":null,\n"sibling":[{"name":"Scott","age":30,"pets":["Zeus","Zuko"]},\n           { "name":"Katie","age":38,\n            "pets":["Sixes","Stache","Cisco"]}]\n} \n'

In [49]:
import json
result=json.loads(obj) #convert str to dict
type(result)

dict

In [50]:
result['sibling']

[{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
 {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]

In [48]:
asjson=json.dumps(result)#convert dict to str
type(asjson)

str

In [53]:
import pandas as pd
sibling=pd.DataFrame(result['sibling'],columns=['name','age','pets'])
sibling

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [54]:
data=pd.read_json(r'C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [55]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [56]:
#above one will change the hierachy so use orient everything will be similar
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

HTML and XML scraping

In [59]:
tables=pd.read_html(r'C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\fdic_failed_bank_list.html')
len(tables)
tables #this is print a list type seen previous so need to use tables[0]
failures=tables[0]
failures

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

Binary Data Format

In [60]:
frame =pd.read_csv(r'C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [62]:
frame.to_pickle(r'C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\frame_pickle')

In [63]:
pd.read_pickle(r'C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Using HDF5 Format

In [66]:
import numpy as np
frame=pd.DataFrame({'a':np.random.randn(100)})
frame

           a
0  -3.239145
1   0.739939
2  -0.042523
3  -1.063188
4  -2.250546
..       ...
95 -0.401731
96 -0.282584
97  0.688437
98  1.590316
99  0.643725

[100 rows x 1 columns]

In [68]:
store=pd.HDFStore(r'C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\mydata.h5')
store['obj1']=frame
store['obj1_col']=frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\mydata.h5

In [70]:
store['obj1']
store['obj1_col']

0    -3.239145
1     0.739939
2    -0.042523
3    -1.063188
4    -2.250546
        ...
95   -0.401731
96   -0.282584
97    0.688437
98    1.590316
99    0.643725
Name: a, Length: 100, dtype: float64

Web API

In [76]:
import requests
url='https://api.github.com/repos/pandas-dev/pandas/issues'
resp=requests.get(url)
resp

In [73]:
data=resp.json()
data[2]['user'] #load the data in json viewer and then use this

{'login': 'misantroop',
 'id': 23288150,
 'node_id': 'MDQ6VXNlcjIzMjg4MTUw',
 'avatar_url': 'https://avatars1.githubusercontent.com/u/23288150?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/misantroop',
 'html_url': 'https://github.com/misantroop',
 'followers_url': 'https://api.github.com/users/misantroop/followers',
 'following_url': 'https://api.github.com/users/misantroop/following{/other_user}',
 'gists_url': 'https://api.github.com/users/misantroop/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/misantroop/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/misantroop/subscriptions',
 'organizations_url': 'https://api.github.com/users/misantroop/orgs',
 'repos_url': 'https://api.github.com/users/misantroop/repos',
 'events_url': 'https://api.github.com/users/misantroop/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/misantroop/received_events',
 'type': 'User',
 'site_admin': False}

In [80]:
data[0]['user']
data[0]['user']['id']

13159005

In [84]:
l=[]
for i in range (len(data)):
    l.append(data[i]['user']['id'])
l

[13159005,
 6838982,
 23288150,
 26364415,
 1417503,
 48889395,
 5585221,
 23253999,
 32569096,
 3813175,
 3813175,
 30958850,
 2629945,
 8238804,
 48889395,
 8078968,
 2265504,
 22417720,
 4106013,
 28095296,
 45562402,
 48889395,
 9642454,
 59748593,
 48889395,
 1312546,
 5585221,
 12969559,
 10041819,
 14075922]

In [91]:
issues=pd.DataFrame(data,columns=['number','title','labels','state'])
issues

,number,title,labels,state
0,35437,BUG: tuple-of-tuples indexing results in NumPy...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
1,35436,BUG: pd.read_parquet with pyarrow fails when r...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
2,35434,BUG: Shift on a group column when column name ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
3,35432,CLN/PERF: move RangeIndex._cached_data to Rang...,[],open
4,35429,BUG: NA does not propagate through mask and wh...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
5,35428,BUG: Inconsistent date parsing of to_datetime,[],open
6,35427,MAINT: Fix issue in StataReader due to upstrea...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
7,35426,CI/COMPAT: read_stata failing in numpy dev pip...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open
8,35425,BUG: attrs lost for Series in DataFrame,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
9,35424,TST: adding test for .describe() with duplicat...,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...",open
10,35423,TST: Add test for `GroupBy.describe()` with du...,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...",open
11,35421,Support reading YAML files,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
12,35420,to_json/read_json can't handle interval index,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
13,35419,DOC: HDF5 External Compatibility section examp...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
14,35418,ENH: implement drop_levels argument in loc,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
15,35417,WIP: df[col] = arr should not overwrite data i...,"[{'id': 2822098, 'node_id': 'MDU6TGFiZWwyODIyM...",open
16,35416,ENH: Auto Detect engine in read_excel,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
17,35415,QST: Subclassing and concat,"[{'id': 1954720290, 'node_id': 'MDU6TGFiZWwxOT...",open
18,35414,BUG: `freq` attribute sometimes lost when conc...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
19,35413,BUG: When plotting a pandas dataframe year is ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
20,35412,CLN: _wrap_applied_output,[],open
21,35411,CLN: clarify TypeError for IndexSlice argument...,[],open
22,35410,BUG: Wrong Custom Formatters applied when disp...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
23,35409,DOC: Inconsistent return type documentation fo...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
24,35408,DOC: update DataFrame.to_feather docstring,[],open
25,35407,Deprecate Series / DataFrame.append,"[{'id': 87485152, 'node_id': 'MDU6TGFiZWw4NzQ4...",open
26,35406,BUG: Creating a Series from a Series results i...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,35405,DOC: Add compose ecosystem docs,[],open
28,35403,ENH: Please provide `register_groupBy_accessor`,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
29,35401,use a try block in _expand_user instead of a t...,[],open