# Pandas

In [1]:
import pandas as pd

Can display desired number of rows using 'nrows=5' but in head operation it will load entire data in memeory and then fetch data but nrows it will only load 5 data ,so it is memory efficient(big datas in GB we use 'nrows')

In [3]:
result=pd.read_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\ex6.csv',nrows=5)
result

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

Chunksize-it will not give a dataframe but a text file(very rarely used,because it will not be able to read some data)

In [4]:
chunk=pd.read_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\out.csv',chunksize=1000)
chunk

To store data in Hard disk under custom name

In [9]:
data=pd.read_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In below cell the dataset is stored with index and header aong with it open parag_nsert.csv

In [11]:
data.to_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\parag_insert.csv')

In [13]:
import sys
data.to_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\parag_insert@.csv',sep='@')

In [14]:
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [15]:
#above NAN will be replaced by 'parag using na_rep='parag
data.to_csv(sys.stdout,na_rep='parag')

,something,a,b,c,d,message
0,one,1,2,3.0,4,parag
1,two,5,6,parag,8,world
2,three,9,10,11.0,12,foo

Without header and Index-

In [17]:
data.to_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\parag_insert_without_header_index.csv',index=False,header=False)

In [21]:
#customise header
data.to_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\parag_customises_header.csv',index=False, columns=['something','a','b','c'])

Creating new data range

In [27]:
#dates=pd.date_range('1/1/2000',periods=7)#(start date,period)-no end date ,it will generate next 7 dates data
dates=pd.date_range('1/1/2000',periods=70)
dates
#type(dates)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
               '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-29', '2000-01-30', '2000-01-31', '2000-02-01',
               '2000-02-02', '2000-02-03', '2000-02-04', '2000-02-05',
               '2000-02-06', '2000-02-07', '2000-02-08', '2000-02-09',
               '2000-02-10', '2000-02-11', '2000-02-12', '2000-02-13',
               '2000-02-14', '2000-02-15', '2000-02-16', '2000-02-17',
               '2000-02-18', '2000-02-19', '2000-02-20', '2000-02-21',
               '2000-02-22', '2000-02-23', '2000-02-24', '2000-02-25',
               '2000-02-26', '2000-02-27', '2000-02-28', '2000-02-29',
               '2000-03-01', '2000-03-02', '2000-03-03', '2000-03-04',
               '2000-03-05', '2000-03-06', '2000-03-07', '2000-03-08',
               '2000-03-09', '2000-03-10'],
              dtype='datetime64[ns]', freq='D')

Converting data into series

In [34]:
import numpy as np
dates=pd.date_range('1/1/2000',periods=7)
ts=pd.Series(np.arange(7),index=dates)
#ts=pd.Series(np.arange(3),index=['pr','naik','nup'])
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int32

In [35]:
ts.to_csv(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\ts.csv')

Same operation without andas library

In [37]:
import csv
f=open(r'C:\Users\pnaik27\Desktop\Ghost-2020\Machine_learning_6th_june\code_pandas1\examples\ex7.csv')
reader=csv.reader(f)
reader

In [38]:
for i in reader:
    print(i)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [10]:
import csv
with open(r'C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\ex7.csv') as f:
    lines=list(csv.reader(f))

In [11]:
for i in lines:
    print(i)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [12]:
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [13]:
a=1
b='parag'
c=23

In [14]:
a,b,c=1,'parag',23

In [15]:
header,values=lines[0],lines[1:]

In [17]:
header
values

[['1', '2', '3'], ['1', '2', '3']]

Zip-Grouping operation it will perform

In [ ]:
zip(a,b) #zip always take iterable object

In [18]:
list(zip(values))

[(['1', '2', '3'],), (['1', '2', '3'],)]

In [19]:
list(zip(*values))

[('1', '1'), ('2', '2'), ('3', '3')]

In [21]:
list(zip(header,zip(*values)))

[('a', ('1', '1')), ('b', ('2', '2')), ('c', ('3', '3'))]

In [22]:
data_dict={h:v for h,v in zip(header,zip(*values))}
data_dict #dictionary is created with key:value

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

Example-1

In [25]:
l1=[1,2,3,4]
l2=['a','b','c','d']
list(zip(l1,l2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [33]:
dict_l3={h:v for h,v in zip(l1,l2)}
dict_l3

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

JSON(javascript object notation) Data

In [46]:
obj="""
{"name":"Wes",
"placed_lived":["United states","Spain","Germany"],
"pet":null,
"sibling":[{"name":"Scott","age":30,"pets":["Zeus","Zuko"]},
           { "name":"Katie","age":38,
            "pets":["Sixes","Stache","Cisco"]}]
} 
"""
type(obj)
obj

'\n{"name":"Wes",\n"placed_lived":["United states","Spain","Germany"],\n"pet":null,\n"sibling":[{"name":"Scott","age":30,"pets":["Zeus","Zuko"]},\n           { "name":"Katie","age":38,\n            "pets":["Sixes","Stache","Cisco"]}]\n} \n'

In [49]:
import json
result=json.loads(obj) #convert str to dict
type(result)

dict

In [50]:
result['sibling']

[{'name': 'Scott', 'age': 30, 'pets': ['Zeus', 'Zuko']},
 {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]

In [48]:
asjson=json.dumps(result)#convert dict to str
type(asjson)

str

In [53]:
import pandas as pd
sibling=pd.DataFrame(result['sibling'],columns=['name','age','pets'])
sibling

    name  age                    pets
0  Scott   30            [Zeus, Zuko]
1  Katie   38  [Sixes, Stache, Cisco]

In [54]:
data=pd.read_json(r'C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [55]:
print(data.to_json())

{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}

In [56]:
#above one will change the hierachy so use orient everything will be similar
print(data.to_json(orient='records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

HTML and XML scraping

In [59]:
tables=pd.read_html(r'C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\fdic_failed_bank_list.html')
len(tables)
tables #this is print a list type seen previous so need to use tables[0]
failures=tables[0]
failures

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"
...,...,...,...,...,...,...,...
542,"Superior Bank, FSB",Hinsdale,IL,32646,"Superior Federal, FSB","July 27, 2001","August 19, 2014"
543,Malta National Bank,Malta,OH,6629,North Valley Bank,"May 3, 2001","November 18, 2002"
544,First Alliance Bank & Trust Co.,Manchester,NH,34264,Southern New Hampshire Bank & Trust,"February 2, 2001","February 18, 2003"
545,National State Bank of Metropolis,Metropolis,IL,3815,Banterra Bank of Marion,"December 14, 2000","March 17, 2005"
546,Bank of Honolulu,Honolulu,HI,21029,Bank of the Orient,"October 13, 2000","March 17, 2005"

Binary Data Format

In [60]:
frame =pd.read_csv(r'C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [62]:
frame.to_pickle(r'C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\frame_pickle')

In [63]:
pd.read_pickle(r'C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

Using HDF5 Format

In [66]:
import numpy as np
frame=pd.DataFrame({'a':np.random.randn(100)})
frame

           a
0  -3.239145
1   0.739939
2  -0.042523
3  -1.063188
4  -2.250546
..       ...
95 -0.401731
96 -0.282584
97  0.688437
98  1.590316
99  0.643725

[100 rows x 1 columns]

In [68]:
store=pd.HDFStore(r'C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\mydata.h5')
store['obj1']=frame
store['obj1_col']=frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: C:\Users\Admin\iNeuron_Machine_Learning\code_pandas1\examples\mydata.h5

In [70]:
store['obj1']
store['obj1_col']

0    -3.239145
1     0.739939
2    -0.042523
3    -1.063188
4    -2.250546
        ...
95   -0.401731
96   -0.282584
97    0.688437
98    1.590316
99    0.643725
Name: a, Length: 100, dtype: float64

Web API

In [76]:
import requests
url='https://api.github.com/repos/pandas-dev/pandas/issues'
resp=requests.get(url)
resp

In [73]:
data=resp.json()
data[2]['user'] #load the data in json viewer and then use this

{'login': 'misantroop',
 'id': 23288150,
 'node_id': 'MDQ6VXNlcjIzMjg4MTUw',
 'avatar_url': 'https://avatars1.githubusercontent.com/u/23288150?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/misantroop',
 'html_url': 'https://github.com/misantroop',
 'followers_url': 'https://api.github.com/users/misantroop/followers',
 'following_url': 'https://api.github.com/users/misantroop/following{/other_user}',
 'gists_url': 'https://api.github.com/users/misantroop/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/misantroop/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/misantroop/subscriptions',
 'organizations_url': 'https://api.github.com/users/misantroop/orgs',
 'repos_url': 'https://api.github.com/users/misantroop/repos',
 'events_url': 'https://api.github.com/users/misantroop/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/misantroop/received_events',
 'type': 'User',
 'site_admin': False}

In [80]:
data[0]['user']
data[0]['user']['id']

13159005

In [31]:
l=[]
for i in range (len(data)):
    l.append(data[i]['user']['id'])
l

[39504233,
 32569096,
 22963691,
 13159005,
 10058240,
 60076143,
 67270366,
 5393746,
 8238804,
 10647082,
 45562402,
 45562402,
 3813175,
 26364415,
 26364415,
 8833517,
 13159005,
 6838982,
 23288150,
 26364415,
 1417503,
 48889395,
 5585221,
 23253999,
 32569096,
 3813175,
 3813175,
 30958850,
 2629945,
 8238804]

In [58]:
issues=pd.DataFrame(data,columns=['number','title','labels','state','pull_request'])
issues

,number,title,labels,state,pull_request
0,35463,"Question/bug: How to get rid of ""0 days"" in ti...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open,NaN
1,35462,BUG: dataframe.apply() loops on first row when...,[],open,NaN
2,35461,CI: activate azure pipelines on 1.1.x - DO NOT...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open,{'url': 'https://api.github.com/repos/pandas-d...
3,35460,BUG: AssertionError: Number of Block dimension...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open,NaN
4,35459,CI: activate github actions on 1.1.x (PR only)...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open,{'url': 'https://api.github.com/repos/pandas-d...
5,35456,Add note about limited propagation of attrs,[],open,{'url': 'https://api.github.com/repos/pandas-d...
6,35455,REGR: DataFrame.to_numpy(dtype=str) raises Run...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open,NaN
7,35451,WEB: Fixing whatsnew link in the home page (ve...,"[{'id': 1508144531, 'node_id': 'MDU6TGFiZWwxNT...",open,{'url': 'https://api.github.com/repos/pandas-d...
8,35450,BUG: dataframe.any() method behaves differentl...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open,NaN
9,35449,BUG: unique() casts its types' elements from `...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open,NaN
10,35447,Updated chunksize docstring for DataFrame.to_c...,[],open,{'url': 'https://api.github.com/repos/pandas-d...
11,35446,"BUG: pd.testing.assert_frame_equal(..., check_...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open,NaN
12,35445,WIP: ENH: Add numba engine to groupby apply,[],open,{'url': 'https://api.github.com/repos/pandas-d...
13,35444,BUG: Attributes are lost when subsetting colum...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open,{'url': 'https://api.github.com/repos/pandas-d...
14,35443,BUG: Attributes of DataFrameGroupBy when subse...,"[{'id': 1741841389, 'node_id': 'MDU6TGFiZWwxNz...",open,NaN
15,35441,BUG: GroupBy.apply() throws erroneous ValueErr...,[],open,{'url': 'https://api.github.com/repos/pandas-d...
16,35440,BUG: CategoricalIndex.format,[],open,{'url': 'https://api.github.com/repos/pandas-d...
17,35439,BUG: output of df.to_string depends on whether...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open,NaN
18,35438,DOC: Can't find mention of DataFrame accepting...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open,NaN
19,35437,BUG: tuple-of-tuples indexing results in NumPy...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open,{'url': 'https://api.github.com/repos/pandas-d...
20,35436,BUG: pd.read_parquet with pyarrow fails when r...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open,NaN
21,35434,BUG: Shift on a group column when column name ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open,NaN
22,35432,CLN/PERF: move RangeIndex._cached_data to Rang...,[],open,{'url': 'https://api.github.com/repos/pandas-d...
23,35429,BUG: NA does not propagate through mask and wh...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open,NaN
24,35428,BUG: Inconsistent date parsing of to_datetime,[],open,{'url': 'https://api.github.com/repos/pandas-d...
25,35427,MAINT: Fix issue in StataReader due to upstrea...,"[{'id': 104865385, 'node_id': 'MDU6TGFiZWwxMDQ...",open,{'url': 'https://api.github.com/repos/pandas-d...
26,35426,CI/COMPAT: read_stata failing in numpy dev pip...,"[{'id': 48070600, 'node_id': 'MDU6TGFiZWw0ODA3...",open,NaN
27,35425,BUG: attrs lost for Series in DataFrame,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open,NaN
28,35424,TST: adding test for .describe() with duplicat...,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...",open,{'url': 'https://api.github.com/repos/pandas-d...
29,35423,TST: Add test for `GroupBy.describe()` with du...,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...",open,NaN

Example-2

In [52]:
import requests
url_1='https://api.github.com/repos/pandas-dev/pandas/issues'
resp=requests.get(url_1)
data=resp.json()
main_df=pd.DataFrame(columns=['id','node_id','url','name','color','default'])
for i in  range(30):
    s=pd.DataFrame(data[i]['labels'],columns=['id','node_id','url','name','color','default'])
    main_df=main_df.append(s,ignore_index=True)
main_df

,id,node_id,url,name,color,default
0,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False
1,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False
2,48070600,MDU6TGFiZWw0ODA3MDYwMA==,https://api.github.com/repos/pandas-dev/pandas...,CI,a2bca7,False
3,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False
4,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False
5,48070600,MDU6TGFiZWw0ODA3MDYwMA==,https://api.github.com/repos/pandas-dev/pandas...,CI,a2bca7,False
6,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False
7,31404521,MDU6TGFiZWwzMTQwNDUyMQ==,https://api.github.com/repos/pandas-dev/pandas...,Dtypes,e102d8,False
8,32815646,MDU6TGFiZWwzMjgxNTY0Ng==,https://api.github.com/repos/pandas-dev/pandas...,Regression,e11d21,False
9,1508144531,MDU6TGFiZWwxNTA4MTQ0NTMx,https://api.github.com/repos/pandas-dev/pandas...,Web,23ef97,False
10,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False
11,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False
12,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False
13,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False
14,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False
15,32815646,MDU6TGFiZWwzMjgxNTY0Ng==,https://api.github.com/repos/pandas-dev/pandas...,Regression,e11d21,False
16,127685,MDU6TGFiZWwxMjc2ODU=,https://api.github.com/repos/pandas-dev/pandas...,Testing,C4A000,False
17,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False
18,233160,MDU6TGFiZWwyMzMxNjA=,https://api.github.com/repos/pandas-dev/pandas...,Groupby,729FCF,False
19,1741841389,MDU6TGFiZWwxNzQxODQxMzg5,https://api.github.com/repos/pandas-dev/pandas...,API - Consistency,b60205,False
20,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False
21,233160,MDU6TGFiZWwyMzMxNjA=,https://api.github.com/repos/pandas-dev/pandas...,Groupby,729FCF,False
22,219960758,MDU6TGFiZWwyMTk5NjA3NTg=,https://api.github.com/repos/pandas-dev/pandas...,Needs Discussion,207de5,False
23,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False
24,1218227310,MDU6TGFiZWwxMjE4MjI3MzEw,https://api.github.com/repos/pandas-dev/pandas...,Index,e99695,False
25,13101118,MDU6TGFiZWwxMzEwMTExOA==,https://api.github.com/repos/pandas-dev/pandas...,Output-Formatting,ededed,False
26,32815646,MDU6TGFiZWwzMjgxNTY0Ng==,https://api.github.com/repos/pandas-dev/pandas...,Regression,e11d21,False
27,134699,MDU6TGFiZWwxMzQ2OTk=,https://api.github.com/repos/pandas-dev/pandas...,Docs,3465A4,False
28,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False
29,76865106,MDU6TGFiZWw3Njg2NTEwNg==,https://api.github.com/repos/pandas-dev/pandas...,Compat,0052cc,False
30,2822098,MDU6TGFiZWwyODIyMDk4,https://api.github.com/repos/pandas-dev/pandas...,Indexing,0b02e1,False
31,2189479765,MDU6TGFiZWwyMTg5NDc5NzY1,https://api.github.com/repos/pandas-dev/pandas...,Nested Data,f2f989,False
32,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False
33,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...,Needs Triage,0052cc,False
34,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False
35,76865106,MDU6TGFiZWw3Njg2NTEwNg==,https://api.github.com/repos/pandas-dev/pandas...,Compat,0052cc,False
36,42670965,MDU6TGFiZWw0MjY3MDk2NQ==,https://api.github.com/repos/pandas-dev/pandas...,Error Reporting,ffa0ff,False
37,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False
38,849023693,MDU6TGFiZWw4NDkwMjM2OTM=,https://api.github.com/repos/pandas-dev/pandas...,ExtensionArray,6138b5,False
39,1817503692,MDU6TGFiZWwxODE3NTAzNjky,https://api.github.com/repos/pandas-dev/pandas...,NA - MaskedArrays,8cc645,False
40,32815646,MDU6TGFiZWwzMjgxNTY0Ng==,https://api.github.com/repos/pandas-dev/pandas...,Regression,e11d21,False
41,104865385,MDU6TGFiZWwxMDQ4NjUzODU=,https://api.github.com/repos/pandas-dev/pandas...,IO Stata,5319e7,False
42,127681,MDU6TGFiZWwxMjc2ODE=,https://api.github.com/repos/pandas-dev/pandas...,Refactor,FCE94F,False
43,48070600,MDU6TGFiZWw0ODA3MDYwMA==,https://api.github.com/repos/pandas-dev/pandas...,CI,a2bca7,False
44,76865106,MDU6TGFiZWw3Njg2NTEwNg==,https://api.github.com/repos/pandas-dev/pandas...,Compat,0052cc,False
45,104865385,MDU6TGFiZWwxMDQ4NjUzODU=,https://api.github.com/repos/pandas-dev/pandas...,IO Stata,5319e7,False
46,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...,Bug,e10c02,False
47,1539579994,MDU6TGFiZWwxNTM5NTc5OTk0,https://api.github.com/repos/pandas-dev/pandas...,metadata,56efc9,False
48,697792067,MDU6TGFiZWw2OTc3OTIwNjc=,https://api.github.com/repos/pandas-dev/pandas...,Apply,fbca04,False
49,233160,MDU6TGFiZWwyMzMxNjA=,https://api.github.com/repos/pandas-dev/pandas...,Groupby,729FCF,False
50,127685,MDU6TGFiZWwxMjc2ODU=,https://api.github.com/repos/pandas-dev/pandas...,Testing,C4A000,False
51,697792067,MDU6TGFiZWw2OTc3OTIwNjc=,https://api.github.com/repos/pandas-dev/pandas...,Apply,fbca04,False
52,233160,MDU6TGFiZWwyMzMxNjA=,https://api.github.com/repos/pandas-dev/pandas...,Groupby,729FCF,False
53,127685,MDU6TGFiZWwxMjc2ODU=,https://api.github.com/repos/pandas-dev/pandas...,Testing,C4A000,False

In [54]:
import requests
url_1='https://api.github.com/repos/pandas-dev/pandas/issues'
resp=requests.get(url_1)
data=resp.json()
main_1=pd.DataFrame(columns=['url','html_url','diff_url','patch_url'])
for i in range(30):
    a=pd.DataFrame(data[i]['pull_request'],columns=['url','html_url','diff_url','patch_url'])
    main_1=main_1.append(a,ignore_index=True)
main_1

KeyError: 'pull_request'

In [ ]:
url : "https://api.github.com/repos/pandas-dev/pandas/pulls/35458"
html_url : "https://github.com/pandas-dev/pandas/pull/35458"
diff_url : "https://github.com/pandas-dev/pandas/pull/35458.diff"
patch_url : "https://github.com/pandas-dev/pandas/pull/35458.patch"

In [55]:
import requests
url_1='https://api.github.com/repos/pandas-dev/pandas/issues'
resp=requests.get(url_1)
data=resp.json()
main_1=pd.DataFrame(columns=['id','node_id','url'])
for i in range(30):
    a=pd.DataFrame(data[i]['labels'],columns=['id','node_id','url'])
    main_1=main_1.append(a,ignore_index=True)
main_1

,id,node_id,url
0,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...
1,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...
2,48070600,MDU6TGFiZWw0ODA3MDYwMA==,https://api.github.com/repos/pandas-dev/pandas...
3,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...
4,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...
5,48070600,MDU6TGFiZWw0ODA3MDYwMA==,https://api.github.com/repos/pandas-dev/pandas...
6,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...
7,31404521,MDU6TGFiZWwzMTQwNDUyMQ==,https://api.github.com/repos/pandas-dev/pandas...
8,32815646,MDU6TGFiZWwzMjgxNTY0Ng==,https://api.github.com/repos/pandas-dev/pandas...
9,1508144531,MDU6TGFiZWwxNTA4MTQ0NTMx,https://api.github.com/repos/pandas-dev/pandas...
10,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...
11,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...
12,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...
13,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...
14,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...
15,32815646,MDU6TGFiZWwzMjgxNTY0Ng==,https://api.github.com/repos/pandas-dev/pandas...
16,127685,MDU6TGFiZWwxMjc2ODU=,https://api.github.com/repos/pandas-dev/pandas...
17,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...
18,233160,MDU6TGFiZWwyMzMxNjA=,https://api.github.com/repos/pandas-dev/pandas...
19,1741841389,MDU6TGFiZWwxNzQxODQxMzg5,https://api.github.com/repos/pandas-dev/pandas...
20,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...
21,233160,MDU6TGFiZWwyMzMxNjA=,https://api.github.com/repos/pandas-dev/pandas...
22,219960758,MDU6TGFiZWwyMTk5NjA3NTg=,https://api.github.com/repos/pandas-dev/pandas...
23,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...
24,1218227310,MDU6TGFiZWwxMjE4MjI3MzEw,https://api.github.com/repos/pandas-dev/pandas...
25,13101118,MDU6TGFiZWwxMzEwMTExOA==,https://api.github.com/repos/pandas-dev/pandas...
26,32815646,MDU6TGFiZWwzMjgxNTY0Ng==,https://api.github.com/repos/pandas-dev/pandas...
27,134699,MDU6TGFiZWwxMzQ2OTk=,https://api.github.com/repos/pandas-dev/pandas...
28,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...
29,76865106,MDU6TGFiZWw3Njg2NTEwNg==,https://api.github.com/repos/pandas-dev/pandas...
30,2822098,MDU6TGFiZWwyODIyMDk4,https://api.github.com/repos/pandas-dev/pandas...
31,2189479765,MDU6TGFiZWwyMTg5NDc5NzY1,https://api.github.com/repos/pandas-dev/pandas...
32,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...
33,1954720290,MDU6TGFiZWwxOTU0NzIwMjkw,https://api.github.com/repos/pandas-dev/pandas...
34,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...
35,76865106,MDU6TGFiZWw3Njg2NTEwNg==,https://api.github.com/repos/pandas-dev/pandas...
36,42670965,MDU6TGFiZWw0MjY3MDk2NQ==,https://api.github.com/repos/pandas-dev/pandas...
37,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...
38,849023693,MDU6TGFiZWw4NDkwMjM2OTM=,https://api.github.com/repos/pandas-dev/pandas...
39,1817503692,MDU6TGFiZWwxODE3NTAzNjky,https://api.github.com/repos/pandas-dev/pandas...
40,32815646,MDU6TGFiZWwzMjgxNTY0Ng==,https://api.github.com/repos/pandas-dev/pandas...
41,104865385,MDU6TGFiZWwxMDQ4NjUzODU=,https://api.github.com/repos/pandas-dev/pandas...
42,127681,MDU6TGFiZWwxMjc2ODE=,https://api.github.com/repos/pandas-dev/pandas...
43,48070600,MDU6TGFiZWw0ODA3MDYwMA==,https://api.github.com/repos/pandas-dev/pandas...
44,76865106,MDU6TGFiZWw3Njg2NTEwNg==,https://api.github.com/repos/pandas-dev/pandas...
45,104865385,MDU6TGFiZWwxMDQ4NjUzODU=,https://api.github.com/repos/pandas-dev/pandas...
46,76811,MDU6TGFiZWw3NjgxMQ==,https://api.github.com/repos/pandas-dev/pandas...
47,1539579994,MDU6TGFiZWwxNTM5NTc5OTk0,https://api.github.com/repos/pandas-dev/pandas...
48,697792067,MDU6TGFiZWw2OTc3OTIwNjc=,https://api.github.com/repos/pandas-dev/pandas...
49,233160,MDU6TGFiZWwyMzMxNjA=,https://api.github.com/repos/pandas-dev/pandas...
50,127685,MDU6TGFiZWwxMjc2ODU=,https://api.github.com/repos/pandas-dev/pandas...
51,697792067,MDU6TGFiZWw2OTc3OTIwNjc=,https://api.github.com/repos/pandas-dev/pandas...
52,233160,MDU6TGFiZWwyMzMxNjA=,https://api.github.com/repos/pandas-dev/pandas...
53,127685,MDU6TGFiZWwxMjc2ODU=,https://api.github.com/repos/pandas-dev/pandas...

In [ ]:
'login','id','node_id'

In [56]:
import requests
url_1='https://api.github.com/repos/pandas-dev/pandas/issues'
resp=requests.get(url_1)
data=resp.json()
main_1=pd.DataFrame(columns=['url','html_url'])
for i in range(30):
    a=pd.DataFrame(data[i]['pull_request'],columns=['url','html_url'])
    main_1=main_1.append(a,ignore_index=True)
main_1

KeyError: 'pull_request'