# Python collect-list,tuple,dictionary

In [1]:
l=[]
type(l)

list

In [7]:
l1=list('parag')
l2=list(['parag'])
type(l1)

list

In [4]:
l1

['p', 'a', 'r', 'a', 'g']

In [8]:
l2

['parag']

In [9]:
l1=list(34)
l1

TypeError: 'int' object is not iterable

In [10]:
l1=list('34')
l1

['3', '4']

In [11]:
l=[3,4,5,6]
l[0]='parag'

In [12]:
l

['parag', 4, 5, 6]

Tuple-

In [13]:
c=()
type(c)

tuple

In [14]:
t=(1,2,3)
t

(1, 2, 3)

In [15]:
type(t)

tuple

In [16]:
len(l)

4

In [17]:
c=(3,4,5,6,7,'parag',4.56,6+8j)
c

(3, 4, 5, 6, 7, 'parag', 4.56, (6+8j))

In [20]:
c[0:5:2]

(3, 5, 7)

In [21]:
c[::-1]

((6+8j), 4.56, 'parag', 7, 6, 5, 4, 3)

Below is the problem with tuple because tuples are immutable

In [22]:
c[0]='sudh'

TypeError: 'tuple' object does not support item assignment

In [23]:
#iterating from tuple
for i in c:
    print(i)

3
4
5
6
7
parag
4.56
(6+8j)

In [26]:
c.count('parag') #count number of time the varible is called

1

In [27]:
c.index('parag')#tells the index location of value

5

In [30]:
a=5,6,7,8
a[2]

7

In [29]:
type(a)

tuple

# Hack

In [32]:
a,b,c=4,5,6
b

5

In [33]:
t=((2,3,4),(1,2,3),(5,6,7))
t

((2, 3, 4), (1, 2, 3), (5, 6, 7))

In [34]:
l=[(4,5,6),(5,6,7)]
type(l)

list

In [35]:
l[0]

(4, 5, 6)

In [36]:
l[0][2]

6

In [40]:
d=([4,5,6],[1,2,4])
type(d)

tuple

In [41]:
f=([1,2,4])
type(f)

list

Manipulation can be done by converting a tuple into a list

In [47]:
c=(4,5,6,7)
l=list(c)
l[2]='parag'
l

[4, 5, 'parag', 7]

In [49]:
c=tuple(l)
c

(4, 5, 'parag', 7)

# Set

In [ ]:
How set is different from tuple and list?
->by default data type is dict but if you hold a data it will be set
->only unique value get printed ,only single occurrence of data (cell-54,55)
->cannot hold a list element in set only primitive data type(cell-63)

In [52]:
s={}
type(s)

dict

In [56]:
a={2,3,4,5,6,7,8,555,5,5,55,2,2,'parag','Parag','naik'}
type(a)

set

In [57]:
a

{2, 3, 4, 5, 55, 555, 6, 7, 8, 'Parag', 'naik', 'parag'}

In [60]:
x=set()
type(x)

set

In [61]:
x.add(3)

In [62]:
x

{3}

In [63]:
s={[4,5,6],[4,5,6,7]}

TypeError: unhashable type: 'list'

In [64]:
x=set([1,2,3,4,7,7,7,1])#single arg is expected by set
x

{1, 2, 3, 4, 7}

In [65]:
#iterating through set but only unique values
for i in x:
    print(i)

1
2
3
4
7

In [66]:
x[2]#cannot access through index but can iterate over a for loop

TypeError: 'set' object is not subscriptable

In [68]:
x.add(10)

In [69]:
x

{1, 2, 3, 4, 7, 10}

In [77]:
n={5,6,7,456,234,45,345,'parag','abc',3,4,6,566789,7,76543}
type(n)
n

{234, 3, 345, 4, 45, 456, 5, 566789, 6, 7, 76543, 'abc', 'parag'}

Dictionary?
->cannot keep a list as a key but can keep it as a value
->key cannot be duplicate if comes it will override with the next value

In [1]:
v={}
type(v)

dict

In [16]:
v={'key':'parag','key1':'xyx','key2':'abc',0:'pqr','key':123,'key4':[6,7,8,'parag'],'key5':(4,5,6)}
v

{'key': 123,
 'key1': 'xyx',
 'key2': 'abc',
 0: 'pqr',
 'key4': [6, 7, 8, 'parag'],
 'key5': (4, 5, 6)}

In [9]:
v['key2']

'abc'

In [12]:
v[0]

'pqr'

In [7]:
my_dict={True:'value1',
        'key2':'value2',
        'key3':'value3'}
my_dict

{True: 'value1', 'key2': 'value2', 'key3': 'value3'}

In [17]:
d={'a':34,
  'b':345,
  'c':'parag',
  'd':{0:45,7:87}}
d

{'a': 34, 'b': 345, 'c': 'parag', 'd': {0: 45, 7: 87}}

In [20]:
d['d']

{0: 45, 7: 87}

In [21]:
d['d'][7]

87

In [25]:
#will only give key
for i in d:
    print(i,' ',d[i])

a   34
b   345
c   parag
d   {0: 45, 7: 87}

In [27]:
d.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [28]:
d.values()

dict_values([34, 345, 'parag', {0: 45, 7: 87}])

In [29]:
my_dict

{True: 'value1', 'key2': 'value2', 'key3': 'value3'}

In [31]:
my_dict['key45']='parag'

In [32]:
my_dict

{True: 'value1', 'key2': 'value2', 'key3': 'value3', 'key45': 'parag'}

In [34]:
my_dict['key2']=[7,8,9,9]

In [35]:
my_dict

{True: 'value1', 'key2': [7, 8, 9, 9], 'key3': 'value3', 'key45': 'parag'}

Nesting with dictionaries

In [42]:
d={'key1':{'nestkey':{'subnestkey':'value'}}}
d

{'key1': {'nestkey': {'subnestkey': 'value'}}}

In [41]:
d['key1']['nestkey']['subnestkey']

'value'

Dictionary items

In [44]:
my_dict.items()

dict_items([(True, 'value1'), ('key2', [7, 8, 9, 9]), ('key3', 'value3'), ('key45', 'parag')])

Dictionary comprehension

In [45]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [68]:
l=['sudh','kumar','xyz','abc',0,'parag']
l

['sudh', 'kumar', 'xyz', 'abc', 0, 'parag']

In [69]:
{i[0]:i for i in l if type(i)==str}

{'s': 'sudh', 'k': 'kumar', 'x': 'xyz', 'a': 'abc', 'p': 'parag'}

In [62]:
#interpreting above comprehension
my={}
n={}
l=['sudh','kumar','xyz']
for i in l:
    my={i[0]:i}
    print(my)

{'s': 'sudh'}
{'k': 'kumar'}
{'x': 'xyz'}

{'x': 'xyz'}

In [66]:
{x:x**2 for x in range(1,10) if x%2==0}

{2: 4, 4: 16, 6: 36, 8: 64}

Function

In [71]:
def test():
    pass

In [72]:
test()

In [76]:
def test_1():
    print("hello,this is my first function")

In [78]:
type(test_1())

hello,this is my first function

NoneType

In [79]:
a=test_1()
a

hello,this is my first function

In [81]:
def test1():
    return 'this is my first function with return'
a=test1()
type(a)

str

In [82]:
a+'-parag'
#but cannot do this with nonetypr as the value is coming from printso primitive operation like +,* cannot be done

'this is my first function with return-parag'

In [86]:
#can return list,tuple,dictionary,complex number
def test1():
    return [1,2,3],3+5j
a=test1()
type(a)
a

tuple

In [87]:
def test1():
    return [1,2,3],3+5j
a,b=test1()
#type(a)
print(a)
print(b)

[1, 2, 3]
(3+5j)

In [89]:
#place holder '_' will give the last value
def test1():
    return [1,2,3],3+5j,[4,5]
a,_,_=test1()
print(a)
print(_) #called as placeholder

[1, 2, 3]
[4, 5]

In [97]:
def test2(a,b):
    return a+b
x=test2(2,3)
y=test2(99,1)
z=test2('parag','naik')
w=test2([1,2,3],[4,5,6])
w

[1, 2, 3, 4, 5, 6]