Filter
->output should be true or false
->function needs to return true if it returns false it will print empty

In [13]:
def even_check(num):
    if num%2==0:
        return True

In [18]:
def odd_check(num):
    if num%2!=0:
        return True

In [19]:
even_check(10)

True

In [20]:
#lst=list(range(1,10))
lst=[1,2,3,4,5,6,7,8]
list(filter(even_check,lst))

[2, 4, 6, 8]

In [21]:
list(filter(odd_check,lst))

[1, 3, 5, 7]

Lambda+filter integrated

In [22]:
list(filter(lambda n:n%2==0,lst))

[2, 4, 6, 8]

In [25]:
a=lambda x:x%2==0

In [26]:
list(filter(a,lst))

[2, 4, 6, 8]

# Object oriented programming(OOPS)

In [2]:
i=10
print(type(i))

<class 'int'>

In [ ]:
i is varibale of integer class
s is varible of string class

In [7]:
s='parag'
print(type(s))

<class 'str'>

In [8]:
class test:
    pass

In [12]:
a=test()
print(type(a))

<class '__main__.test'>

In [ ]:
->Below is not OOPS,this is bad way of unstructed

In [19]:
class test1:
    pass
b=test1()
b.name='parag'
b.age=26
b.year_of_birth=18081994

c=test1()
c.name='Nup'
c.age=27
c.surname='pande'

In [16]:
print(b)

<__main__.test1 object at 0x000000F3E765C488>

In [18]:
b.name
b.age

26

In [21]:
c.name
c.surname

'pande'

In [22]:
b.surname #no attribute to this object ,it is attribute of c

AttributeError: 'test1' object has no attribute 'surname'

Correct way of creating class

In [26]:
#can you anything in place of self like 'i','parag' refer to notebook
class Person:
    def __init__(self,name,surname,year_of_birth):
        self.name=name
        self.surname=surname
        self.year_of_birth=year_of_birth

In [27]:
a=Person()

TypeError: __init__() missing 3 required positional arguments: 'name', 'surname', and 'year_of_birth'

In [33]:
a=Person('Parag','naik',18081994)
print('{} is my name,I am {} old and my DOB is {}'.format(a.name,a.surname,a.year_of_birth))

Parag is my name,I am naik old and my DOB is 18081994

In [35]:
class Person1:
    def __init__(self,name):
        self.name1=name
b=Person1('parag')
b.name #-->will throw error see on line 3 and book
b.name1 #will work

'parag'

Method

In [46]:
class Person2:
    def __init__(a,name,surname,year_of_birth):
        a.name=name
        a.surname=surname
        a.year_of_birth=year_of_birth
        
    def age(a,current_year):
        return ('age is',current_year - a.year_of_birth)
    
    def concatlist(b,lst1,lst2):
        return lst1+lst2
    
    #inbuilt function
    def __str__(a): 
        return '%s %s was born in %d.'%(a.name,a.surname,a.year_of_birth)

    
alex=Person2('Aelx','Baldwin',1958)
#alex #if we call object without the inbuilt  __str__ method it willgive an address in output not meaningful
print(alex)
print(alex.age(2020))#calling a method

Aelx Baldwin was born in 1958.
('age is', 62)

In [47]:
alex.concatlist([3,4,5,6],[1,2,9])

[3, 4, 5, 6, 1, 2, 9]

Multiple init method

In [52]:
class Person5:
    def __init__(a,name,surname,year_of_birth):
        a.name=name
        a.surname=surname
        a.year_of_birth=year_of_birth
        
    
    
    def __init__(a,name,surname):
        a.name=name
        a.surname=surname
    
    def __init__(a,name):
        a.name=name

In [54]:
alex1=Person5('parag') #only the one which is declared last will work
alex2=Person5('parag')
alex1.name

'parag'

Bad practise-do not want to use init method

In [56]:
class Person3:
    def set_name(self,name):
        self.name=name
    def set_surname(self,surname):
        self.surname=surname
    def set_year_of_birth(self,year_of_birth):
        self.year_of_birth=year_of_birth
    def age(self,current_year):
        return current_year-self.year_of_birth
    def __str__(self):
        return '%s %s was born in %d'% (self.name,self.surname,self.year_of_birth)

In [58]:
parag=Person3()
print(parag)

AttributeError: 'Person3' object has no attribute 'name'

In [67]:
#for above error in cell-60
parag.set_name('paragnaik')
parag.set_surname('pande')
parag.set_year_of_birth('1994')

In [68]:
parag.name

'paragnaik'

In [69]:
parag.surname

'pande'

In [70]:
parag.year_of_birth

'1994'