1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [1]:
import pandas as pd
import numpy as np

1. Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [8]:
a=pd.Series(np.arange(1,10))
type(a)

pandas.core.series.Series

2. Write a Python program to convert a Panda module Series to Python list and it's type

In [12]:
b=pd.Series(np.arange(1,10))
list(b)
type(list(b))

list

3. Write a Python program to add, subtract, multiple and divide two Pandas Series
Sample-[2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [13]:
a=pd.Series([2, 4, 6, 8, 10])
b=pd.Series([1, 3, 5, 7, 9])

In [20]:
#add
c=a+b
c
#sub
d=a-b
d
#multiply
e=a*b
e
#divide
f=a/b
f

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4.Write a Python program to convert a dictionary to a Pandas series. Go to the editor
Sample Series:
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
Converted series:
a 100
b 200
c 300
d 400
e 800
dtype: int64

In [22]:
dict_1={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
pd.Series(dict_1)

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Python program to convert a NumPy array to a Pandas series. Go to the editor
Sample Series:
NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0 10
1 20
2 30
3 40
4 50

In [25]:
a=np.array([10,20,30,40,50])
pd.Series(a)

0    10
1    20
2    30
3    40
4    50
dtype: int32

7. Write a Python program to change the data type of given a column or a Series. Go to the editor
Sample Series:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Change the said data type to numeric:
0 100.00
1 200.00
2 NaN
3 300.12
4 400.00
dtype: float64

In [33]:
l=[100,200,1,'parag',300.12,400]
a=pd.Series(l)
b=pd.to_numeric(a,errors='coerce') #error-coercewill replace the invalid parsing to NaN
b

0    100.00
1    200.00
2      1.00
3       NaN
4    300.12
5    400.00
dtype: float64

8. Write a Python Pandas program to convert the first column of a DataFrame as a Series. Go to the editor
Sample Output:
Original DataFrame
col1 col2 col3
0 1 4 7
1 2 5 5
2 3 6 8
3 4 9 12
4 7 5 1
5 11 0 11
1st column as a Series:
0 1
1 2
2 3
3 4
4 7
5 11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [45]:
df=pd.read_csv(r'C:\Users\pnaik27\Machine Learning iNeuron\Untitled Folder\Pandas\problem_8.csv',sep=' ')
df1=pd.DataFrame(df)
a=df1['col1']
col_1_series=pd.Series(a)
col_1_series
type(col_1_series)

pandas.core.series.Series

9. Write a Pandas program to convert a given Series to an array. Go to the editor
Sample Output:
Original Data Series:
0 100
1 200
2 python
3 300.12
4 400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']

In [52]:
l=[100,200,'python',300.12,400]
a=pd.Series(l)
#b=np.array(a)
b=np.array(a.values.tolist())
type(b)

numpy.ndarray

10. Write a Pandas program to convert Series of lists to one Series. Go to the editor
Sample Output:
Original Series of list
0 [Red, Green, White]
1 [Red, Black]
2 [Yellow]
dtype: object
One Series
0 Red
1 Green
2 White
3 Red
4 Black
5 Yellow
dtype: object

In [59]:
l1=['Red', 'Green', 'White']
l2=['Red', 'Black']
a=pd.Series(l1)
b=pd.Series(l2)
c=a+b
l3=l1+l2
pd.Series(l3)

0      Red
1    Green
2    White
3      Red
4    Black
dtype: object

In [61]:
#Solution-
import pandas as pd
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list")
print(s)
s = s.apply(pd.Series).stack().reset_index(drop=True)
print("One Series")
print(s)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object